name: Sync FlashPipe Demo Package artifacts to Tenant
on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    container:
      image: engswee/flashpipe:latest

    steps:
      - uses: actions/checkout@v4

      - name: 'Sync package to remote'
        uses: engswee/flashpipe-action/update/package@v1
        with:
          tmn-host: ${{ secrets.TMN_HOST }}
          oauth-host: ${{ secrets.OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-file-relative: DoH_Snow_Package/SnowIntegrations.json

      - name: 'Sync FlashPipeDemo artifacts'
        uses: engswee/flashpipe-action/sync@v1
        with:
          tmn-host: ${{ secrets.TMN_HOST }}
          oauth-host: ${{ secrets.OAUTH_HOST }}
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          package-id: SnowIntegrations
          target: tenant
          dir-artifacts-relative: DoH_Snow_Package
